<!DOCTYPE html>
{% load static %}
{% load chats_tags %}

<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>{% block title %} Chats {% endblock %}</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{% static 'css/chats_base.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&display=swap" rel="stylesheet">
</head>
<body style="background-image: url({% static 'img/chats_base_img.gif' %}">

      <div class="header">
  <a id="home" class="logo men-a" href="{% url 'chat:base_chats' %}">Chats</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a class="men-a" href="{% url 'news:news_feed' %}">Feed</a></li>
    <li><a class="men-a" href="{% url 'user:Profile' username=user.username %}">Profile</a></li>
    <li><a class="men-a" href="{% url 'user:Logout' %}">Logout</a></li>
  </ul>
    </div>

{% block content %}
<div class="chats container-fluid">
  <div class="chatt"></div>
  <ul>
    {% for chat in all_chats %}
    <form action="{% url 'chat:sub_or_unsub' room=chat.room_name %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
    <li class="li-p">
      <a type="button" id="room-name" href="{% url 'chat:room_chat' room_name=chat.room_name %}" class="c-groups" >{{ chat.room_name }}</a>
      <button class="c-groups-data" href=""><span class="dot"></span> <p>{{ chat.subscribers.count }} {% if chat.subscribers.count > 1 %}Subs{% else %}Sub{% endif %}</p></button>
      <button class="btn add" type="submit" name="subs" {% if request.user in chat.subscribers.all %} title="Unsubscribe" {% else %} title="Subscribe" {% endif %}>{% if request.user in chat.subscribers.all %} × {% else %} + {% endif %}</button>
    </li>
    </form>
{% endfor %}
  </ul>
</div>
{% endblock %}
<script src="{% static 'js/chat_base.js' %}"></script>
</body>
</html>
