body{
  margin:0;
  padding: 0;
  background-color: #F3F1F5;
}

/* Cover */

.cover{
  background-size: 100%;
  height: 300px;
  border-bottom: solid red;
  background-color: white;
  overflow: hidden;
}

.home,.btn-cover,.btn-profile,.btn-post{
   opacity: 80%;
   transition: all .6s ease;
   -webkit-transition: all .6s ease;
}

.home:hover,.btn-cover:hover,.btn-profile:hover,.btn-post:hover{
  border-radius: 15px;
}


.btn-cover{
  position: absolute;
  font-size: 15px;
  background-color: transparent;
  color: green;
}

.btn-profile{
  font-size: 15px;
  background-color: transparent;
  color: green;
}

.btn-cover:hover, .btn-profile:hover{
  color: white;
  background-color: green;
  opacity: 100%;
}


.container-top{
  margin: 0;
  padding-top: 64px;
}

.imgcover{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.home{
  text-decoration: none;
  position: absolute;
  top:0;
  right:0;
  font-size: 15px;
  color: red;
  background-color: transparent;
}

.home:hover{
  color: white;
  background-color: red;
  opacity: 100;
}

/* Profile */

.profile-border{
  background-color: white;
  border: solid red;
  border-radius:50%;
  width: 200px;
  height: 200px;
  item-align: center;
  margin: -70px auto auto auto;
  justify-content: center;
}

.profile{
  border-radius:50%;
  width: 200px;
  height: 200px;
}

img{
  max-width: 100%;
  max-height: 100%;
}


.username{
  text-align: center;
  margin-top: 20px;
}

.btn-cover{
  justify-content: center;
}


/* Middle Part & Nav*/

.middle{
  padding-top: 50px;
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.nav{
  margin-top: 50px;
  height: 50px;
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: #F22727;
}

.ul-pro {
  padding-top:10px;
  width:100%;
  display:flex;
  justify-content:space-between;
  }

.nav-pro{
  width: 100%;
  display: inline;
}

.nav-pro a{
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: 20px;
  color: #FFFFFF;
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
}

.nav-pro a:hover{
  color: #171717;
  font-weight: bold;
}

/* Posts */

.chatpost{
  width:auto;
  height:auto;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  position: relative;
}

.post{
  background-color: white;
  min-height: 5em;
  height: auto;
  min-width: 25em;
  max-width: 25em;
  border-radius: 25px;
  border: solid #FF6B6B medium;
  margin: 0 auto;
  justify-content: center;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

@media screen and (max-width: 514px){
  .post{
    min-width: auto;
    max-width: 95%;
  }
}

.post:focus{
	outline: none;
  border: solid #FF6B6B medium;
}

 .btn-post{
  background-color: transparent;
  color: blue;
  margin-bottom: 80px;
  right: 0;
}

.btn-post:hover{
  background-color: blue;
  color: white;
}

/* Posted post */

.news{
  padding-left: 10%;
  padding-right: 10%;
}

.user-div{
  width: 100%;
}

h5{
  padding-left: 30%;
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.img-post{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  overflow: hidden;
  margin-right: 20px;
}

.date-pub{
  width: 100%;
}

.date{
  position: static;
  padding-right: 20%;
  text-align: right;
  font-family:'Roboto', sans-serif;
  opacity: 50%;
}


.posted{
  min-height: 50px;
  height: auto;
  max-width: 28em;
  justify-content: center;
  border-radius: 25px;
  margin: 30px auto 10px auto;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  border: solid #FF6B6B medium;
  background-color: white;
  overflow: auto;
  white-space: normal;
  word-wrap: break-word;
}

.post-txt{
  padding: 10px;
}

.news{
  padding-top: 100px;
}

hr{
  margin: 0 10% 0 10%;
}


.delete{
  color: #FF6B6B;
  border-radius: 25px;
  background-color: transparent;
  opacity: 20%;
  font-size: 10px;
}

.delete:hover{
  border-color: #FF6B6B;
  color:white;
  background-color: #FF6B6B;
  opacity: 100;
}


/*Info*/

.container{
  background-color: white;
  height: auto;
  width: 80%;
  margin: 10% 10%;
  border-radius: 20px;
  padding-bottom:10px;
}

.container h2{
  padding-left: 20%;
  font-family: 'Roboto', sans-serif;
  margin: 45px;
  color: #3DB2FF;
}

.container:first-child{
  padding-top: 10px;
}

.inf{
  color: #FF6B6B;
}


/* sticky-nav */
.header {
  margin: 0;
  background-color: white;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  height: auto;
}


.header a{
  color: #F23D4C;
  font-weight: 700;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color:transparent;
}

.header li a {
  display: block;
  padding: 10px 10px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}
.header li a:hover,
.header .menu-btn:hover {
  background-color: #F23D4C;
  color: white !important;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.5em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #F23D4C;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #F23D4C;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* nav menu btn */

.header .menu-btn {
  display: none;

}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: white;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media screen and (min-width: 550px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.header.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.menu-icon .navicon.scrolled {
  background: #F23D4C !important;
  transition: all .2s ease-out;
}

.header .menu-btn:checked ~ .menu-icon .navicon.scrolled {
  background: transparent !important;
}

.menu-icon .navicon.scrolled:before{
  background: #F23D4C !important;
  transition: all .2s ease-out;
}
.menu-icon .navicon.scrolled:after{
  background: #F23D4C !important;
  transition: all .2s ease-out;
}

/****/
