body{
  margin:0;
  padding: 0;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

/* Cover */

.cover{
  background-size: 100%;
  height: 200px;
  border-bottom: solid red;
  background-color: white;
  overflow: hidden;
}

.home,.btn-cover,.btn-profile,.btn-post{
   opacity: 80%;
   transition: all .6s ease;
   -webkit-transition: all .6s ease;
}

.home:hover,.btn-cover:hover,.btn-profile:hover,.btn-post:hover{
  border-radius: 15px;
}


.btn-cover{
  position: absolute;
  font-size: 15px;
  background-color: transparent;
  color: green;
}

.btn-profile{
  font-size: 15px;
  background-color: transparent;
  color: green;
}

.btn-cover:hover, .btn-profile:hover{
  color: white;
  background-color: green;
  opacity: 100%;
}


.container-top{
  margin: 0;
  padding: 0;
}

.imgcover{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.home{
  text-decoration: none;
  position: absolute;
  top:0;
  right:0;
  font-size: 15px;
  color: red;
  background-color: transparent;
}

.home:hover{
  color: white;
  background-color: red;
  opacity: 100;
}

/* Profile */

.profile-border{
  background-color: white;
  border: solid red;
  border-radius:50%;
  width: 200px;
  height: 200px;
  item-align: center;
  margin: -70px auto auto auto;
  justify-content: center;
}

.profile{
  border-radius:50%;
  width: 200px;
  height: 200px;
}

img{
  max-width: 100%;
  max-height: 100%;
}


.username{
  text-align: center;
  margin-top: 20px;
}

.btn-cover{
  justify-content: center;
}


/* Middle Part & Nav*/

.middle{
  padding-top: 50px;
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.nav{
  margin-top: 50px;
  height: 50px;
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: #185ADB;
}

ul {
  padding-top:10px;
  width:100%;
  display:flex;
  justify-content:space-between;
  }

 li{
  width: 100%;
  display: inline;
}

li a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}

li a:hover{
  color: #FFD523;
}

.sticky {
  position: fixed;
  top: -50px;
  width: 100%;
}

/* Posts */

.chatpost{
  width:auto;
  height:auto;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  position: relative;
}

.post{
  background-color: white;
  min-height: 5em;
  height: auto;
  min-width: 25em;
  max-width: 95%;
  border-radius: 25px;
  border: solid #FF6B6B medium;
  margin: 0 auto;
  justify-content: center;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

@media screen and (max-width: 514px){
  .post{
    min-width: auto;
  }
}

.post:focus{
	outline: none;
  border: solid #FF6B6B medium;
}

 .btn-post{
  background-color: transparent;
  color: blue;
  margin-bottom: 80px;
  right: 0;
}

.btn-post:hover{
  background-color: blue;
  color: white;
}

/* Posted post */

.posted{
  min-height: 50px;
  height: auto;
  max-width: 28em;
  justify-content: center;
  border-radius: 25px;
  margin: 30px auto 10px auto;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  border: solid #FF6B6B medium;
  background-color: white;
}

.post-txt{
  padding: 10px;
}

.dlt-post-div{
  justify-content: center;
}

.delete{
  color: #FF6B6B;
  border-radius: 25px;
  background-color: transparent;
  opacity: 20%;
  font-size: 10px;
}

.delete:hover{
  border-color: #FF6B6B;
  color:white;
  background-color: #FF6B6B;
  opacity: 100;
}