<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Revealy</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css'>
  <link href="{% static 'css/users/base.css' %}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>


<!--Cover-->
    <div class="container-top">
  <div class="cover">
    <a type="button" class="btn btn-danger home" href="{% url 'chat:base_chats' %}">Chat</a>
    <a type="button" class="btn-cover btn btn-success" href="{% url 'user:upload_cover' %}">Cover</a>
<!--onerror remove empty image square-->
      <img class="imgcover" src="/media/{{ user_post.cover_image }}"  onerror="this.style.display='none';"/></div>
      <!--Profile img && Username-->
  <div class="profile-border">
    <img class="profile" src="/media/{{ user_post.profile_image }}" onerror="this.style.display='none';"/>
    </div>
   <div class="username">
    <h1 class="username">{{ user.username }}</h1>
    <a type="button" class="btn btn-success btn-profile" href="{% url 'user:upload_profile_img' %}">Profile</a>
    </div>
</div>
<!--Nav-->
<nav class="nav" id="navbar"><ul>
<li><a href="{% url 'user:Profile' username=user.username %}">POSTS</a></li>
<li><a href="{% url 'user:reveals' username=user.username %}">REVEALS</a></li>
<li><a href="{% url 'user:info_profile' username=user.username %}">INFO<a/></li>
<li><a href="{% url 'user:delete_user' username=user.username %}">DELETE<a/></li>
</ul></nav>
<!--post-->

{% block content %}

<div class="middle">
   <div class="chatpost">
        <form method="POST" action="{% url 'user:Profile' username=user.username %}" enctype="multipart/form-data">
          {% csrf_token %}
          <textarea type=text class="post" name="post" placeholder="Write here..."></textarea>
          <button class="btn btn-primary btn-post" type="submit">POST</button>
        </form>
      </div>
</div>

<!--posted post-->

{% for post in posts %}
<div class="posted">
  <li><p class="post-txt" name="post_id">{{ post }}</p>
  </li>
  <a type="button" class="btn btn-danger delete" href="{% url 'user:delete_post' post_id=post %}">Delete</a>
</div>
{% endfor %}

    {% endblock %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.ns-autogrow/1.1.6/jquery.ns-autogrow.min.js'></script>
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>



