html {
  height: 100%;
}
body {
  min-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}


/* nav */

.header {
  background-color: transparent;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  height: auto;
}


.header a{
  color: #F23D4C;
  font-weight: 700;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color:transparent;
}

.header li a {
  padding: 10px 10px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}
.header li a:hover,
.header .menu-btn:hover {
  background-color: #F23D4C;
  color: white !important;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.5em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #F23D4C;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #F23D4C;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* nav menu btn */

.header .menu-btn {
  display: none;

}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: white;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media screen and (min-width: 550px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.header.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.menu-icon .navicon.scrolled {
  background: #F23D4C !important;
  transition: all .2s ease-out;
}

.header .menu-btn:checked ~ .menu-icon .navicon.scrolled {
  background: transparent !important;
}

.menu-icon .navicon.scrolled:before{
  background: #F23D4C !important;
  transition: all .2s ease-out;
}
.menu-icon .navicon.scrolled:after{
  background: #F23D4C !important;
  transition: all .2s ease-out;
}

/****/

.chatt:first-child{
  padding-top: 30px;
}


ul{
  padding-top: 20px;
}

ul li{
  list-style-type: none;
}

li{
  padding: 1em;
}

.c-groups{
  text-decoration: none;
  background-color: #5F5EF8;
  padding: 15px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: #EEEEEE;
  border-color: #222326;
}

.c-groups:hover{
  color: #5F5EF8;
  background-color: #EEEEEE;
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
}

.c-groups-data{
  padding: 5px;
  border-radius: 10px;
  margin-left: 20px;
  color: #EDE9F2;
  background-color: #222326;
  border-color: #5F5EF8;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
}


p{
  display: inline;
  margin-right: 5px;
  font-size: 0.8em;
}

.dot {
  text-align: center;
  margin: 0 0 0 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  animation: blinkingBackground 4s infinite;
}

@-webkit-keyframes blinkingBackground{
		0%		{ background-color: #FF0000;}
		25%		{ background-color: #7D0000;}
		50%		{ background-color: #FF0000;}
		75%		{ background-color: #7D0000;}
		100%	{ background-color: #FF0000;}
	}


/*Sub button*/

.add{
  margin-left: 20px;
  border-radius: 50%;
  background-color: #5F5EF8;
  border-color: #5F5EF8;
  color: #EEEEEE;
}

.add:hover{
  background-color: #EEEEEE;
  color: #5F5EF8;
  border-color: #5F5EF8;
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
}
